{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block pagename %}User Profile{% endblock %}

{% block content %}
<br /><br />
	<div class="content-section" style="padding-left: 40px; max-width: 600px;">
		<div class="media">
			<img class="account-img" style="border-radius: 50%;" src="{{ user.profile.image.url }}">
			<div class="media-body">
				<h2 class="account-heading">Username: {{ user.username }}</h2>
				<p class="text-secondary">Email Address: {{ user.email }}</p>
			</div>
		</div>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Profile Information</legend>
					{{ u_form|crispy }}
					{{ p_form|crispy }}
				</fieldset>
					<div class="form-group">
					<button class="form-button-submit button" type="submit">Update</button>
				</div>
			</form>
	</div>

{% endblock content %}